<h2 class="col-12">Stasjonsdetaljer</h2>
<mat-accordion class="col-12">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
            <mat-panel-title class="col-4">
                Generelt
            </mat-panel-title>
            <mat-panel-description class="col-8">
                <div *ngIf="data.keyword==='edit'" class="col-6">{{ data.station.displayName }},
                    {{ data.station.region }}, {{ data.station.type }}..
                </div>
                <div *ngIf="data.keyword==='add'" class="col-6">Stasjonsnavn, region, stasjonstype..
                </div>
                <mat-icon>local_gas_station</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-dialog-content>
            <mat-form-field class="col-6">
                <mat-label>Intern StasjonsId</mat-label>
                <input matInput [(ngModel)]="data.station.id">
            </mat-form-field>
            <mat-form-field class="col-6">
                <mat-label>StasjonsId</mat-label>
                <input matInput [(ngModel)]="data.station.siteId">
            </mat-form-field>
            <mat-form-field class="col-6">
                <mat-label>Stasjonsnavn</mat-label>
                <input matInput [(ngModel)]="data.station.displayName" required>
            </mat-form-field>
            <mat-form-field class="col-6">
                <mat-label>Stasjon Idnavn</mat-label>
                <input matInput [(ngModel)]="data.station.name" required>
            </mat-form-field>
            <mat-form-field class="col-6">
                <mat-label>Kjede</mat-label>
                <input matInput [(ngModel)]="data.station.branch" required>
            </mat-form-field>
            <mat-form-field class="col-6">
                <mat-label>Region</mat-label>
                <input matInput [(ngModel)]="data.station.region" required>
            </mat-form-field>
            <mat-form-field class="col-6">
                <mat-label>Stasjonstype</mat-label>
                <input matInput [(ngModel)]="data.station.type">
            </mat-form-field>
        </mat-dialog-content>
        <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">Neste</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
        <mat-expansion-panel-header>
            <mat-panel-title class="col-4">
                Kontaktinformasjon
            </mat-panel-title>
            <mat-panel-description class="col-8">
                <div class="col-6" *ngIf="data.keyword === 'edit'">{{data.station.responsible}},
                    {{data.station.email}}..</div>
                <div class="col-6" *ngIf="data.keyword === 'add'">Stasjonsansvarlig, email..</div>
                <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-dialog-content>
            <mat-form-field class="col-6">
                <mat-label>Stasjonsansvarlig</mat-label>
                <input matInput [(ngModel)]="data.station.responsible">
            </mat-form-field>
            <mat-form-field class="col-6">
                <mat-label>Eier</mat-label>
                <input matInput [(ngModel)]="data.station.owner">
            </mat-form-field>
            <mat-form-field class="col-6">
                <mat-label>Mobil</mat-label>
                <input matInput [(ngModel)]="data.station.phone">
            </mat-form-field>
            <mat-form-field class="col-6">
                <mat-label>Epost</mat-label>
                <input matInput [(ngModel)]="data.station.email">
            </mat-form-field>
        </mat-dialog-content>
        <mat-action-row>
            <button mat-button style="color: #d01e38;" (click)="prevStep()">Forrige</button>
            <button mat-button color="primary" (click)="nextStep()">Neste</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
        <mat-expansion-panel-header>
            <mat-panel-title class="col-4">
                Lokasjon
            </mat-panel-title>
            <mat-panel-description class="col-8">
                <div class="col-6" *ngIf="data.keyword === 'edit'"> {{ data.station.address.street }},
                    {{ data.station.address.city }} </div>
                <div class="col-6" *ngIf="data.keyword === 'add'"> Gateadresse, by... </div>
                <mat-icon>location_on</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-dialog-content>
            <mat-form-field class="col-6">
                <mat-label>Adresse</mat-label>
                <input matInput [(ngModel)]="data.station.address.street">
            </mat-form-field>
            <mat-form-field class="col-6">
                <mat-label>Sted</mat-label>
                <input matInput [(ngModel)]="data.station.address.city">
            </mat-form-field>
            <mat-form-field class="col-6">
                <mat-label>Postnummer</mat-label>
                <input matInput [(ngModel)]="data.station.address.postalCode">
            </mat-form-field>
            <mat-form-field class="col-6">
                <mat-label>Land</mat-label>
                <input matInput [(ngModel)]="data.station.address.country">
            </mat-form-field>
            <mat-form-field class="col-6">
                <mat-label>Land</mat-label>
                <input matInput [(ngModel)]="data.station.address.country">
            </mat-form-field>
            <mat-form-field class="col-6">
                <mat-label>country Iso Two Letter</mat-label>
                <input matInput [(ngModel)]="data.station.address.countryIsoTwoLetter">
            </mat-form-field>
            <mat-form-field class="col-6">
                <mat-label>country Iso Three Letter</mat-label>
                <input matInput [(ngModel)]="data.station.address.countryIsoThreeLetter">
            </mat-form-field>
            <div class="col-6 title">Koordinater</div>
            <div class="col-4">Breddegrad: {{ data.station.location.coordinates[1] }}</div>
            <div class="col-4">Lengdegrad: {{ data.station.location.coordinates[0] }}</div>
        </mat-dialog-content>
        <mat-action-row>
            <button mat-button style="color: #d01e38" (click)="prevStep()">Forrige</button>
            <button mat-button color="primary" (click)="nextStep()">Neste</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
        <mat-expansion-panel-header>
            <mat-panel-title class="col-4">
                Tjenester
            </mat-panel-title>
            <mat-panel-description class="col-8">
                <div class="col-6">Stasjonens tjenester</div>
                <mat-icon>grade</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <table class="col-12" mat-table [dataSource]="data.station.services">
            <ng-container matColumnDef="Type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let element">
                    <input matInput>{{ element }}</td>>
            </ng-container>
            <ng-container matColumnDef="Operations">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <!-- <button mat-icon-button matTooltip="Endre" (click)="editService('edit', row)">
                        <mat-icon>edit</mat-icon>
                    </button> -->
                    <!-- <button mat-icon-button matTooltip="Slett" (click)="deleteService(row)">
                        <mat-icon>delete_outline</mat-icon>
                    </button> -->
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="serviceTitles"></tr>
            <tr mat-row *matRowDef="let row; columns: serviceTitles"></tr>
        </table>
        <div *ngIf="data.keyword === 'add'">Foreløpig ingen tjenester</div>
        <!-- <button class="add-station col-3 mt-2" mat-raised-button color="warn" (click)="editService('add')">Legg til
            tjeneste</button> -->
        <mat-action-row>
            <button mat-button style="color: #d01e38" (click)="prevStep()">Forrige</button>
            <button mat-button color="primary" (click)="nextStep()">Neste</button>
        </mat-action-row>
    </mat-expansion-panel>

    <!-- <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
        <mat-expansion-panel-header>
            <mat-panel-title class="col-4">
                Ekstern Id
            </mat-panel-title>
            <mat-panel-description class="col-8">
                <div class="col-6">Legg til, Endre, Slett</div>
                <mat-icon>date_range</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <table class="col-12" mat-table [dataSource]="data.station.externalIds" multiTemplateDataRows>
            <ng-container matColumnDef="Partner">
                <th mat-header-cell *matHeaderCellDef>Partner</th>
                <td mat-cell *matCellDef="let element">
                    <input matInput [(ngModel)]="element.partner" readonly></td>>
            </ng-container>
            <ng-container matColumnDef="System">
                <th mat-header-cell *matHeaderCellDef>System</th>
                <td mat-cell *matCellDef="let element">{{ element.system}}</td>
            </ng-container>
            <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>
            <ng-container matColumnDef="Operations">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button matTooltip="Endre" (click)="editExternalId('edit', row)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Slett" (click)="deleteExternalId(row)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="externalTitles"></tr>
            <tr mat-row *matRowDef="let row; columns: externalTitles"></tr>
        </table>
        <button class="add-station col-3 mt-2" mat-raised-button color="warn" (click)="editExternalId('add')">Legg til
            Id</button>
        <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Forrige</button>
            <button mat-button color="primary" (click)="nextStep()">Neste</button>
        </mat-action-row>
    </mat-expansion-panel> -->
    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)">
        <mat-expansion-panel-header>
            <mat-panel-title class="col-4">Tanker</mat-panel-title>
            <mat-panel-description class="col-8" *ngIf="data.keyword === 'edit'">
                <div class="col-6">Legg til, Endre, Slett</div>
                <mat-icon>directions_car</mat-icon>
            </mat-panel-description>
            <mat-panel-description class="col-8" *ngIf="data.keyword === 'add'">
                <div class="col-6">Legg til stasjonens tanker</div>
                <mat-icon>directions_car</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <table class="col-12" mat-table [dataSource]="data.station.tanks">
            <ng-container matColumnDef="Navn">
                <th mat-header-cell *matHeaderCellDef>Navn</th>
                <td mat-cell *matCellDef="let element">{{ element.name}}</td>
            </ng-container>
            <ng-container matColumnDef="Produkt">
                <th mat-header-cell *matHeaderCellDef>Produkt</th>
                <td mat-cell *matCellDef="let element">{{ element.fuelProductName }}</td>
            </ng-container>
            <ng-container matColumnDef="Kapasitet">
                <th mat-header-cell *matHeaderCellDef>Kapasitet</th>
                <td mat-cell *matCellDef="let element">{{ element.capacity }}</td>
            </ng-container>
            <ng-container matColumnDef="Autotelling">
                <th mat-header-cell *matHeaderCellDef>Auto</th>
                <td mat-cell *matCellDef="let element">{{ element.auto }}</td>
            </ng-container>
            <!-- <ng-container matColumnDef="Autotelling">
                <th mat-header-cell *matHeaderCellDef>Autotelling</th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox class="align-self-center" [(ngModel)]="element.autoCount"></mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="Ingen dypping">
                <th mat-header-cell *matHeaderCellDef>Ingen dypping</th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox class="align-self-center" [(ngModel)]="element.noDip"></mat-checkbox>
                </td>
            </ng-container> -->
            <ng-container matColumnDef="Operations">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button matTooltip="Endre" (click)="editTank('edit', row)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Slett" (click)="deleteTank(row)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="tankTitles"></tr>
            <tr mat-row *matRowDef="let row; columns: tankTitles"></tr>
        </table>
        <button class="add-station col-3 mt-2" mat-raised-button style="background-color: #d01e38; color: white"
            (click)="editTank('add')">Legg til
            Tank</button>
        <mat-action-row>
            <button mat-button style="color: #d01e38" (click)="prevStep()">Forrige</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<div class="col-12" style="display: flex; justify-content: space-between;">
    <button class="col-4 mt-2" type="button" mat-raised-button [mat-dialog-close]="'close'">Avbryt</button>
    <button class="add-station col-4 mt-2" type="button" mat-raised-button
        style="background-color: #d01e38; color: white;" [mat-dialog-close]>Lagre</button>
</div>
