<div *ngIf="data.keyword === 'edit'">
    <h3>Endre Id</h3>
    <div style="display: flex; justify-content: space-between;">
        <mat-form-field>
            <mat-label>Partner</mat-label>
            <input matInput [(ngModel)]="data.externalId.partner">
        </mat-form-field>
        <mat-form-field>
            <mat-label>System</mat-label>
            <input matInput [(ngModel)]="data.externalId.system">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Ekstern Id</mat-label>
            <input matInput [(ngModel)]="data.externalId.id">
        </mat-form-field>
    </div>
</div>
<div *ngIf="data.keyword === 'add'">
    <h3>Legg til ny Id</h3>
    <div style="display: flex; justify-content: space-between;">
        <mat-form-field>
            <mat-label>Partner</mat-label>
            <input matInput [(ngModel)]="data.externalId.partner">
        </mat-form-field>
        <mat-form-field>
            <mat-label>System</mat-label>
            <input matInput [(ngModel)]="data.externalId.system">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Ekstern Id</mat-label>
            <input matInput [(ngModel)]="data.externalId.id">
        </mat-form-field>
    </div>
</div>
<div class="row" style="text-align: -webkit-center">
    <div class="col-6">
        <button class="col-8" mat-raised-button [mat-dialog-close]="'close'">Avbryt</button>
    </div>
    <div class="col-6">
        <button class="col-8" mat-raised-button [mat-dialog-close]>Lagre</button>
    </div>
</div>
