<!-- <div *ngIf="data.keyword === 'edit'">
    <h3>Endre Tank</h3>
    <div style="display: flex; justify-content: space-between;">
        <mat-form-field>
            <mat-label>TankId</mat-label>
            <input matInput [(ngModel)]="data.tank.tankId">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Navn</mat-label>
            <input matInput [(ngModel)]="data.tank.name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Kapasitet</mat-label>
            <input matInput [(ngModel)]="data.tank.capacity">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Gruppe</mat-label>
            <input matInput [(ngModel)]="data.tank.group">
        </mat-form-field>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <mat-form-field>
            <mat-label>Produkt</mat-label>
            <input matInput [(ngModel)]="data.tank.product">
        </mat-form-field>
        <mat-checkbox class="align-self-center" [(ngModel)]="data.tank.autoCount">Autotelling</mat-checkbox>
        <mat-checkbox class="align-self-center" [(ngModel)]="data.tank.noDip">Ingen dypping</mat-checkbox>
        <mat-form-field>
            <mat-label>Kommentar</mat-label>
            <input matInput [(ngModel)]="data.tank.comment">
        </mat-form-field>
    </div>
</div>
<div class="col-12" *ngIf="data.keyword === 'add'">
    <h3>Legg til ny Tank</h3>
    <div style="display: flex; justify-content: space-between;">
        <mat-form-field>
            <mat-label>TankId</mat-label>
            <input matInput [(ngModel)]="data.tank.tankId">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Navn</mat-label>
            <input matInput [(ngModel)]="data.tank.name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Kapasitet</mat-label>
            <input matInput [(ngModel)]="data.tank.capacity">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Gruppe</mat-label>
            <input matInput [(ngModel)]="data.tank.group">
        </mat-form-field>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <mat-form-field>
            <mat-label>Produkt</mat-label>
            <input matInput [(ngModel)]="data.tank.product">
        </mat-form-field>
        <mat-checkbox class="align-self-center" [(ngModel)]="data.tank.autoCount">Autotelling</mat-checkbox>
        <mat-checkbox class="align-self-center" [(ngModel)]="data.tank.noDip">Ingen dypping</mat-checkbox>
        <mat-form-field>
            <mat-label>Kommentar</mat-label>
            <input matInput [(ngModel)]="data.tank.comment">
        </mat-form-field>
    </div>
</div>
<div class="row" style="text-align: -webkit-center">
    <div class="col-6">
        <button class="col-8" mat-raised-button [mat-dialog-close]="'close'">Avbryt</button>
    </div>
    <div class="col-6">
        <button class="col-8" mat-raised-button [mat-dialog-close]>Lagre</button>
    </div>
</div> -->
