<div *ngIf="data.keyword === 'edit'">
    <h3>Endre Tank</h3>
    <div style="display: flex; justify-content: space-between;">
        <mat-form-field>
            <mat-label>Tank Id</mat-label>
            <input matInput [(ngModel)]="data.tank.id">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Gruppe Id</mat-label>
            <input matInput [(ngModel)]="data.tank.tankGroupId">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Navn</mat-label>
            <input matInput [(ngModel)]="data.tank.name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Auto</mat-label>
            <input matInput [(ngModel)]="data.tank.auto">
        </mat-form-field>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <mat-form-field>
            <mat-label>Fuel Produkt Id</mat-label>
            <input matInput [(ngModel)]="data.tank.fuelProductId">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Fuel ProduktSkanol Id</mat-label>
            <input matInput [(ngModel)]="data.tank.fuelProductSkanolProductId">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Produkt</mat-label>
            <input matInput [(ngModel)]="data.tank.fuelProductName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Kapasitet</mat-label>
            <input matInput [(ngModel)]="data.tank.capacity">
        </mat-form-field>
    </div>
</div>
<div class="col-12" *ngIf="data.keyword === 'add'">
    <h3>Legg til ny Tank</h3>
    <div style="display: flex; justify-content: space-between;">
        <mat-form-field>
            <mat-label>Tank Id</mat-label>
            <input matInput [(ngModel)]="data.tank.id">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Gruppe Id</mat-label>
            <input matInput [(ngModel)]="data.tank.tankGroupId">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Navn</mat-label>
            <input matInput [(ngModel)]="data.tank.name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Auto</mat-label>
            <input matInput [(ngModel)]="data.tank.auto">
        </mat-form-field>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <mat-form-field>
            <mat-label>Fuel Produkt Id</mat-label>
            <input matInput [(ngModel)]="data.tank.fuelProductId">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Fuel ProduktSkanol Id</mat-label>
            <input matInput [(ngModel)]="data.tank.fuelProductSkanolProductId">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Produkt</mat-label>
            <input matInput [(ngModel)]="data.tank.fuelProductName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Kapasitet</mat-label>
            <input matInput [(ngModel)]="data.tank.capacity">
        </mat-form-field>
    </div>
</div>
<div class="row" style="text-align: -webkit-center">
    <div class="col-6">
        <button class="col-8" mat-raised-button [mat-dialog-close]="'close'">Avbryt</button>
    </div>
    <div class="col-6">
        <button class="col-8" mat-raised-button [mat-dialog-close]>Lagre</button>
    </div>
</div>
