<div class="col-12">
    <mat-card class="col-12">
        <div style="display: flex;">
            <mat-card-title class="col-4" style="margin-left: 1rem;">Stasjonsoversikt</mat-card-title>
            <mat-form-field class="col-4">
                <mat-label>
                    <mat-icon style="font-size: 14px; margin-right: 3px;">search</mat-icon>Søk i Stasjonsoversikt
                </mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Drivstoff" #input>
            </mat-form-field>
        </div>
        <mat-card-content class="col-12">
            <table class="col-12" mat-table [dataSource]="stationDetails">
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell></td>
                </ng-container>
                <ng-container matColumnDef="Chain">
                    <th mat-header-cell *matHeaderCellDef>Kjede</th>
                    <td mat-cell *matCellDef="let element">{{ element.branch }}</td>
                </ng-container>
                <ng-container matColumnDef="Region">
                    <th mat-header-cell *matHeaderCellDef>Region</th>
                    <td mat-cell *matCellDef="let element">{{ element.region }}</td>
                </ng-container>
                <ng-container matColumnDef="Stasjon">
                    <th mat-header-cell *matHeaderCellDef>Stasjon</th>
                    <td mat-cell *matCellDef="let element">{{ element.displayName }}</td>
                </ng-container>
                <ng-container matColumnDef="Type">
                    <th mat-header-cell *matHeaderCellDef>Type</th>
                    <td mat-cell *matCellDef="let element">{{ element.type }}</td>
                </ng-container>
                <ng-container matColumnDef="Adresse">
                    <th mat-header-cell *matHeaderCellDef>Adresse</th>
                    <td mat-cell *matCellDef="let element">{{ element.address.street }}</td>
                </ng-container>
                <ng-container matColumnDef="Sted">
                    <th mat-header-cell *matHeaderCellDef>Sted</th>
                    <td mat-cell *matCellDef="let element">{{ element.address.city }}</td>
                </ng-container>
                <ng-container matColumnDef="Responsible">
                    <th mat-header-cell *matHeaderCellDef>Ansvarlig</th>
                    <td mat-cell *matCellDef="let element">{{ element.responsible }}</td>
                </ng-container>
                <ng-container matColumnDef="Operasjoner">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                        <button class="margin-right-button" mat-raised-button
                            (click)="editStation('edit', row)">Endre</button>
                        <button class="margin-right-button" mat-raised-button
                            (click)="tankDetailsOpen('loss', row)">Registrer
                            Tap</button>
                        <button mat-raised-button (click)="tankDetailsOpen('dip', row)">Registrer Dypping</button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="tableTitles"></tr>
                <tr mat-row *matRowDef="let row; columns: tableTitles"></tr>
            </table>
            <button class="add-station"
                style="margin-left: 1rem; margin-top: 1rem !important; background-color: #d01e38; color: white;"
                mat-raised-button (click)="editStation('add')">Legg til
                stasjon</button>
        </mat-card-content>
    </mat-card>
</div>
<!-- <google-map height="200px" width="83.5%" (mapClick)="click($event)">

</google-map> -->
