<div *ngIf="data.keyword === 'edit'">
    <h3>Endre tjeneste</h3>
    <div style="display: flex; justify-content: space-between;">
        <mat-form-field>
            <mat-label>Navn</mat-label>
            <input matInput [(ngModel)]="data.service">
        </mat-form-field>
    </div>
</div>
<div *ngIf="data.keyword === 'add'">
    <h3>Legg til ny tjeneste</h3>
    <div style="display: flex; justify-content: space-between;">
        <mat-form-field>
            <mat-label>Navn</mat-label>
            <input matInput [(ngModel)]="data.service">
        </mat-form-field>
    </div>
</div>
<div class="row" style="text-align: -webkit-center">
    <div class="col-6">
        <button class="col-8" mat-raised-button [mat-dialog-close]="'close'">Avbryt</button>
    </div>
    <div class="col-6">
        <button class="col-8" mat-raised-button [mat-dialog-close]>Lagre</button>
    </div>
</div>
